*{
    margin: 0;
    padding: 0;
}
div{
    background-color: aqua;
    margin: 10px;
    text-align: center;
    padding: 20px;
    list-style-position:inside;
}
h3{
    text-align: center;
    padding-bottom: 10px;

}